.intro-screen-wrapper {
  height: 100vh;
  /* background: white; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  margin: auto;
  /* padding: 20px;
  box-sizing: border-box; */
  width: 660px;
  border-right: #000000 1px solid;
  border-left: #000000 1px solid;
}

.play-intro-screen-wrapper {
  margin: auto;
}

.intro-screen-title {
  font-size: 36px;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  color: #222222;
  margin-bottom: 20px;
}

.play-intro-screen-description {
  font-size: 20px;
  font-family: 'hk-grotesk-medium', Helvetica, sans-serif;
  color: #4e4e4e;
  line-height: 32px;
  margin-bottom: 20px;
}

/* .intro-screen-content-frame .button-back {
  top: 41.2%;
  left: 0;
  position: absolute;
}

.intro-screen-content-frame .button-next {
  top: 41.2%;
  right: 0;
  position: absolute;
} */

/* .screen-dots-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 76px;
} */

/* .screen-dot {
  background: #dedede;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
} */

/* .screen-dot.active-screen {
  background: #6600ff;
} */

.play-screen-buttons-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.play-screen-button {
  margin: 10px;
}

.play-screen-button .button.large {
  min-width: 240px;
}