.game-wrapper {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex: 1;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  border-right: #000000 1px solid;
  border-left: #000000 1px solid;
}

.game-center-column-wrapper {
  align-items: unset;
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 660px;
  padding: 0;
}

.play-screen-header {
  width: 100%;
  border-bottom: #000000 1px solid;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-weight: normal;
  flex-direction: column;
}

.your-network-send-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #000000 1px solid;
  align-items: center;
  height: 100%;
}

.your-wallet-wrapper, .your-network-wrapper {
  padding: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.your-wallet-wrapper {
  justify-content: space-between;
}

.your-network-wrapper {
  flex-wrap: wrap;
}

.your-wallet-title, .your-network-title {
  font-family: 'hk-grotesk-semibold', Helvetica, Sans-Serif;
  margin-right: 20px;
}

.your-wallet-balance {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 18px;
}

.your-wallet-history {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.your-wallet-history:hover {
  color: #3f7800;
}

.your-wallet-history.active {
  color: #3f7800;
}

.your-wallet-title-balance {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.your-network-wrapper-note {
  font-size: 14px;
}

.your-network-avatars {
  display: flex;
  flex-direction: row;
}

.your-network-avatars .small.initials-avatar {
  margin-right: 5px;
}

.your-network-wrapper-note a {
  text-decoration: underline;
  cursor: pointer;
}

.header-send-button-wrapper {
  padding: 20px;
  font-size: 17px;
  box-sizing: border-box;
  border-left: #000000 1px solid;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  color: #222222;
  background-color: #ddd6be;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-send-button-wrapper:hover {
  background-color: #a8cc7f;
}

.play-screen-content-wrapper {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 660px;
  position: relative;
}

.play-screen-content {
  padding: 20px;
}

.activity-update {
  background-color: #ddd6be;
  padding: 10px 30px 10px 10px;
  margin-bottom: 16px;
  position: relative;
}

.activity-update .icon.medium-close {
  position: absolute;
  right: 7px;
  top: 7px;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: unset;
}

.wallet-history-wrapper {
  background-color: #fbfbf9;
  position: absolute;
  height: 200px;
  z-index: 2;
  border-bottom: #000000 1px solid;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  overflow-y: scroll;
}

.wallet-history-inner-wrapper {
  width: 100%;
}

/* .wallet-history-column.left {
  border-right: #bca7a7 1px solid;
} */

.wallet-history-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: #d2c08b 1px solid;
  justify-content: space-between;
}

.wallet-history-column {
  width: 50%;
}

.wallet-history-title {
  font-family: 'hk-grotesk-bold', Helvetica, Sans-Serif;
  padding: 6px 20px;
}

.wallet-history-item {
  padding: 6px 20px;
}

.wallet-history-item.right, .wallet-history-title.right {
  text-align: right;
}

.leave-game-button {
  cursor: pointer;
  border: 1px solid;
  padding: 8px 10px;
  margin-left: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-family: 'hk-grotesk-semibold', Helvetica, sans-serif;
  ;
}

.leave-game-button:hover {
  color: #3f7800;
}

.leave-game-modal-content {
  margin-bottom: 20px;
}