.game-wrapper {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex: 1;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  border-right: #000000 1px solid;
  border-left: #000000 1px solid;
}

.game-center-column-wrapper {
  align-items: unset;
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 700px;
  padding-top: 0;
}

.play-screen-header {
  width: 100%;
  border-bottom: #000000 1px solid;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  font-size: 24px;
}

.your-wallet-wrapper {}

.your-network-wrapper {}

.header-send-button-wrapper {}