.glossary-screen-wrapper {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}

.glossary-screen-inner-wrapper {
    height: 100%;
    min-width: 1200px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:1400px) {
    .glossary-screen-scroll-right {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding-bottom: 6px;
        /* position: absolute; */
        /* background-color: blueviolet; */
        border-bottom: #000000 1px solid;
        z-index: 1;
    }
}

@media screen and (min-width:1399px) {
    .glossary-screen-scroll-right {
        display: none;
    }
}

.glossary-column {
    min-width: 250px;
    border-right: #000000 1px solid;
    font-size: 20px;
    flex: 1;
    position: relative;
    overflow-y: scroll;
}

.glossary-column-inner-wrapper {
    width: 100%;
    padding: 30px;
    font-family: 'gilroyextrabold', Helvetica, sans-serif;
    box-sizing: border-box;
}

.glossary-column-inner-wrapper a {
    text-decoration: none;
    color: #2c2c2c;
    transition: color 0.2s;
}

.glossary-column-inner-wrapper a:hover {
    color: #3f7800;
}

/* Glossary Row */

.glossary-row {
    position: relative;
    display: flex;
    justify-items: flex-end;
}

.glossary-row.cryptography {
    border-top: #000000 1px solid;
    position: absolute;
    top: 400px;
    width: 100%;
}

.glossary-inner-row {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.glossary-inner-row.top {
    padding-top: 0;
}

/* Overlay */

.column-overlay {
    background-color: #a8cc7f;
    padding: 30px;
    width: 100%;
    min-height: 100%;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.column-overlay-term {
    font-size: 20px;
    font-family: 'gilroyextrabold', Helvetica, sans-serif;
    margin-bottom: 20px;
}

.column-overlay-close-button {
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0px;
    z-index: 2;
}